*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color:brown
    
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a{

    text-decoration: none;
    color: black;
    font-size: 15px;
}
.nav-bttn{

    border: none;
    border-radius: 5px;
    background-color: green;
    color: aliceblue;
    padding: 15px;
    font-size: 18px;

}

/* Hero -Section */
.hero-section{
    background-image: url(./images/hero-bg.png);
    background-size: cover;
    height: 500px;
    
}
.hero-banner{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 100px;
    width: 100%;
    
}
.badge{
        padding: 10px 15px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    display: inline-flex;
}
.main-text{

    padding-top: 100px;
    padding-bottom: 60px;

}
.hero-bttn{
    width: 250px;
    height: 50px;
    margin-bottom: 25px;
}
.play img{
    display: inline;
    height: 20px;
    width: 20px;
}
.start{
    display: inline;
}

/* Notes Section */
.note-section{

    background-color: aqua;
    width: 100%;
    
    padding-top: 50px;
}
.top-section{
    
    display: inline;
    text-align: center;
    

}

.bottom-section{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    background-color: white;
    color: black;
    text-align: center;
    padding: 35px 25px;
    border-radius: 15px;
}
.icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px auto 20px;
}

.icon-circle i{

    color: white;
    font-size: 20px;
}

.card h3{
    font-size: 25px;
    margin-bottom: 10px;
    
}

.card p{

    color: rgba(95, 92, 92, 0.959);
    font-size: 15px;
}

/* Second Brain Section */

.brain-section{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    gap: 100px;
}