*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{

    margin: 0;
}
/* Navigation Bar Start */
#navbar{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color:rgba(255, 255, 255, 1);
    
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a{

    text-decoration: none;
    color: black;
    font-size: 15px;
}
.nav-links a:hover{
text-decoration: none;
    color: black;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 3);
}
.nav-bttn{

    border: none;
    border-radius: 10px;
    background-color: green;
    color: rgb(235, 238, 241);
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}
.nav-bttn:hover{

    border:1px solid gray;
    border-radius: 10px;
    background-color: rgb(31, 99, 31);
    color: rgb(235, 238, 241);
    padding: 15px;
    font-size: 18px;
    
}
/* Navigation Bar End */

/* Hero -Section Start */
.hero-section{
    background-image: url(./images/hero-bg.png);
    background-repeat:no-repeat;
    
}
.hero-banner{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    
}
.badge{
        width: 250px;
        height: 40px;
        padding: 10px 15px;
        border-radius: 20px;
        color: rgb(52, 143, 52);
        font-size: 15px;
        text-transform: capitalize;
        cursor: pointer;
}

.badge:hover{
        width: 250px;
        height: 40px;
        padding: 10px 15px;
        border-radius: 20px;
        color: rgb(35, 97, 35);
        font-size: 15px;
        
        
}

.main-text{
    
    padding-top: 80px;
    padding-bottom: 60px;

}
.main-text h1 {
    text-transform: capitalize;
    color: white;
    font-size: 70px;
}

#span-text{
    color: rgb(5, 156, 5);
    opacity: 0.7;
    
}
.main-text p{
    padding: 20px;
    line-height: 30px;
    opacity: 0.8;
}
.hero-bttn{
    padding-bottom: 10px;
}

.right-bttn{
    width: 250px;
    height: 51px;
    border: none;
    border-radius: 5px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
}
.right-bttn:hover{
    width: 250px;
    height: 51px;
    border: 1ps solid gray;
    border-radius: 5px;
    background-color: rgb(3, 73, 32);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    
}
.left-bttn{
    width: 250px;
    height: 51px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    background: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    
}
.left-bttn:hover{
    width: 250px;
    height: 51px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    background: transparent;
    color: rgba(255, 255, 255, 6);
    font-size: 18px;
    
}
/* Hero -Section End */

/* Notes Section Start */
.note-section{
    padding-top: 0px;
    background-color: rgba(247, 246, 242, 1);
    width: 100%;
   
    
}
.top-section{
    margin: 0;
    text-align: center;
}
.top-section h1{
    font-size: 40px;
    padding-top: 20px;
    text-transform: capitalize;
}
.top-section p{
    padding-top: 20px;
    color: rgba(98, 115, 130, 1);
}

.bottom-section{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    background-color:  rgba(247, 246, 242, 1);
    color: black;
    text-align: center;
    padding: 35px 25px;
    border-radius: 15px;
}
.icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px auto 20px;
}

.icon-circle i{

    color: white;
    font-size: 20px;
}

.card h3{
    font-size: 25px;
    margin-bottom: 10px;
    
}

.card p{

    color: rgba(95, 92, 92, 0.959);
    font-size: 15px;
}
/* Notes Section Start */

/* Second Brain Section Start */

.brain-section{
    background-color: rgba(247, 246, 242, 1);
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0;
}

.knowledge img{
    width: 450px;
    height: 450px;
}

.brain-content{
    padding-top: 50px;

}
.brain-content h6{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(5, 112, 126);

}

.brain-content h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 60px;
    text-transform: capitalize;
    color: rgb(0, 0,0)    

}
.brain-content p{
    padding-bottom: 20px;
    font-size: 15px;
    color: rgb(63, 62, 62)
    
}
.brain-list{

    padding-left: 0;
}
.brain-list li {
    font-size: 14px;
    padding: 6px;
   display: flex;
   align-items: center;
    gap: 10px;
}
.brain-list li i{
    width: 15px;
    height: 15px;
    
   background-color:green;
   color: white;
   border-radius: 50%;
}

.early-access{
    background-color: rgba(247, 246, 242, 1);
    justify-content: center;
    align-self: center;
}
.access-content{

text-align: center;

}
.access-content h4{
    font-size: 35px;
    text-transform: capitalize;
    padding-top: 20px;
}
.access-content p{
    font-size: 13px;
    color: rgba(98, 115, 130, 1);
     padding-top: 12px;
     padding-bottom: 12px;
}
.access-bttn{
    justify-content: center;
    text-align: center;
}

.acc-bttn{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color:rgba(70, 145, 101, 1);
    color: aliceblue;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}
.acc-bttn:hover{
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color:rgb(33, 75, 50);
    color: aliceblue;
    padding: 15px;
    font-size: 18px;
    
}
.access-bttn p{
     font-size: 13px;
    color: rgba(98, 115, 130, 1);
    padding-top: 12px;
    padding-bottom: 10px;
}
/* Second Brain Section End */

/* Footer Section start */
.ft-section{

    background-color: rgb(10, 10, 77);
    color: white;
   padding: 50px 80px 30px;
}
.footer-top{

    display: flex;
    justify-content: space-between;
    align-items:center;
}
.footer-social h5 {

   margin-bottom: 10px;
   font-size: 15px;
}
.social-icon{
    display: flex;
    gap: 16px;
}
.social-icon i{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.ft-section hr{
    border: none;
    border-top: 1px solid rgb(223, 220, 220,0.2);
    margin: 40px 0 20px;
}
.footer-bottom{
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
}
/* Footer Section End */