*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
#navbar{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color:brown
    
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a{

    text-decoration: none;
    color: black;
    font-size: 15px;
}
.nav-bttn{

    border: none;
    border-radius: 10px;
    background-color: green;
    color: rgb(235, 238, 241);
    padding: 15px;
    font-size: 18px;

}

/* Hero -Section */
.hero-section{
    background-image: url(./images/hero-bg.png);
    background-size: cover;
   /* height: 500px; */
    
}
.hero-banner{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    
}
.badge{
        padding: 10px 15px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    display: inline-flex;
}
.main-text{

    padding-top: 100px;
    padding-bottom: 60px;

}
.hero-bttn{
    width: 250px;
    height: 50px;
    margin-bottom: 25px;
}
.play img{
    display: inline;
    height: 20px;
    width: 20px;
}
.start{
    display: inline;
}

/* Notes Section */
.note-section{

    background-color: aqua;
    width: 100%;
    
    padding-top: 50px;
}
.top-section{
    
    display: inline;
    text-align: center;
    

}

.bottom-section{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    background-color: white;
    color: black;
    text-align: center;
    padding: 35px 25px;
    border-radius: 15px;
}
.icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px auto 20px;
}

.icon-circle i{

    color: white;
    font-size: 20px;
}

.card h3{
    font-size: 25px;
    margin-bottom: 10px;
    
}

.card p{

    color: rgba(95, 92, 92, 0.959);
    font-size: 15px;
}

/* Second Brain Section */

.brain-section{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0;
}

.knowledge img{
    width: 450px;
    height: 450px;
}

.brain-content{
    padding-top: 50px;

}
.brain-content h6{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(5, 112, 126);

}

.brain-content h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 60px;
    text-transform: capitalize;
    color: rgb(0, 0,0)    

}
.brain-content p{
    padding-bottom: 20px;
    font-size: 15px;
    color: rgb(63, 62, 62)
    
}
.brain-list{

    padding-left: 0;
}
.brain-list li {
    font-size: 14px;
    padding: 6px;
   display: flex;
   align-items: center;
    gap: 10px;
}
.brain-list li i{
    width: 15px;
    height: 15px;
    
   background-color:green;
   color: white;
   border-radius: 50%;
}

.early-access{
    background-color: blueviolet;
    justify-content: center;
    align-self: center;
}
.access-content{

text-align: center;

}
.access-bttn{

    text-align: center;
}

.acc-bttn{

    border: none;
    border-radius: 5px;
    background-color: green;
    color: aliceblue;
    padding: 15px;
    font-size: 18px;
}

/* Footer Section start */
.ft-section{

    background-color: rgb(10, 10, 77);
    color: white;
   padding: 50px 80px 30px;
}
.footer-top{

    display: flex;
    justify-content: space-between;
    align-items:center;
}
.footer-social h5 {

   margin-bottom: 10px;
   font-size: 15px;
}
.social-icon{
    display: flex;
    gap: 16px;
}
.social-icon i{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.ft-section hr{
    border: none;
    border-top: 1px solid rgb(223, 220, 220,0.2);
    margin: 40px 0 20px;
}
.footer-bottom{
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
}