*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color:brown
    
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a{

    text-decoration: none;
    color: black;
    font-size: 15px;
}
.nav-bttn{

    border: none;
    border-radius: 5px;
    background-color: green;
    color: aliceblue;
    padding: 15px;
    font-size: 18px;

}
.hero-section{
    background-image: url(./images/hero-bg.png);
    background-size: cover;
   
    
}
.hero-banner{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
    width: 100%;

}
